* {
  margin: 0; 
  padding: 0; 
}

body {
  background-color: aquamarine;
}

.checkbox-wrapper {  
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

#check {
  display: none; 
}

#check:checked ~ .checkmark {
  background-color: #08bb68;
}

.checkmark {
  display: block; 
  width: 80px; 
  height: 80px; 
  background-color: #ddd;
  border-radius: 10px;
  transition: background-color .4s; 

  position: relative; 
}

.checkmark::after {
  content: ""; 
  position: absolute; 
  width: 25px; 
  height: 45px; 
  border-right: 5px solid #fff; 
  border-bottom: 5px solid #fff; 
  top: 40%;
  left: 50%; 

  transform: translate(-50%, -50%) rotateZ(40deg) scale(10); 
  opacity: 0; 

  transition: all .4s; 
} 

#check:checked ~ .checkmark::after {
  opacity: 1;
  transform: translate(-50%, -50%) rotateZ(40deg) scale(1); 
}

