* {
  margin: 0; 
  padding: 0; 
  list-style: none; 
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; 
  outline: none; 
}

html {
  font-size: 62.5%; 
}

:root {
  --main-bg-color: #2e2e2e; 
  --primary-color: #574d4d; 
  --secondary-color: #777171;
  --text-color: #9c9393; 
  --hover-text-color: #bdb8b8; 
  --active-icon-color: #2ae7e7; 
}

/* body {
  background-color: var(--main-bg-color);
} */

.sidebar {
  width: 15vw; 
  height: 100%; 
  background-color: var(--main-bg-color);
  position: fixed;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}

/* HAMBURGER MENU */ 

.hamburger-menu {
  width: 3.5rem; 
  height: 3.5rem; 
  background-color: #fff;
  position: absolute; 
  top: 0; 
  right: 0; 

  padding: .5rem; 
  box-sizing: border-box;
}

.line {
  width: 2.5rem; 
  height: .3rem; 
  background-color: var(--secondary-color);
  position: absolute; 

  transform-origin: left;
}

.line-1 {
  top: 1.2rem;
  transition: top .3s, transform .3s .3s; 
}

.line-2 {
  top: 1.8rem; 
  transition: opacity .2s; 
}

.line-3 {
  top: 2.4rem;
  transition: top .3s, transform .3s .3s; 
}

/* burdger effects */ 
.change .line-1 {
  top: 2.4rem; 
  transform: rotate(-40deg) translateY(.3rem); 
}

.change .line-2 {
  opacity: 0; 
}

.change .line-3 {
  top: 1.2rem; 
  transform: rotate(40deg) translateY(-.3rem); 
}

/* PERSON CARD */ 
.card {
  display: flex; 
}

.card-title {
  font-size: 2rem; 
  margin-right: 3rem; 
  color: var(--text-color); 
  letter-spacing: .1rem;
}

.card-subtitle {
  font-size: 1.8rem;
  color: var(--secondary-color); 
}

.admin-image {
  width: 5rem; 
  border-radius: .5rem;
}

.card-body {
  margin: 1rem; 
  display: fles; 
  flex-direction: column;
  justify-content: space-around;
}

/* SEARCH FORM */ 

.search-form {
  margin: 2rem 0 1rem 0; 
  display: flex; 
  align-items: center; 
  border: 1px solid red;
}

.search-input {
  width: 100%; 
  height: 4rem; 
  background-color: var(--primary-color);
  border: none; 
  border-radius: .5rem;
  padding: 0 1rem; 
  font-size: 1.6rem; 
  color: var(--text-color); 
  letter-spacing: .1rem;
}

.search-button i {
  font-size: 2rem;
  color: var(--secondary-color); 
}

.search-button {
  background-color: transparent;
  border: none; 
  transform: translateX(-150%); 
  border: 1px solid blue; 
}

/* NAV */ 
.nav-list {
  margin-top: 3rem; 
}

.nav-item {
  margin: 2rem 0rem; 
}

.nav-link {
  width: 100%; 
  display: flex; 
  align-items: center;
  color: var(--text-color); 
  border: 1px solid blue; 
}

.nav-link-text {
  font-size: 1.8rem; 
  padding-left: 1rem; 

  flex-grow: 1; /* moves the ">" character to the right by growing the text span. */ 
}

.nav-link i:first-child {
  width: 2rem; 
  height: 2rem; 
  background-color: var(--primary-color);

  display: flex; 
  justify-content: center;
  align-items: center;
  padding: .2rem; 
  border-radius: .3rem;

  transition: color .2s; 
}

.nav-link:hover i:first-child {
  color: var(--active-icon-color); 
}

.nav-link i:last-child {
  margin-right: 2.5rem; 
  font-size: 1.6rem; 
}
/* DROP DOWN MENUS */ 

.sub-nav-list {
  width: 90%; 
  margin-left: auto; 
}

.sub-nav-item {
  margin: .5rem 0; 
}

.sub-nav-link {
  font-size: 1.5rem; 
  color: var(--text-color); 
  transition: color .2s; 
}

.sub-nav-link:hover {
  color: var(--hover-text-color);
}

.sub-nav-link i {
  font-size: 1rem; 
  margin: .5rem; 
  transition: color .2s; 
}

.sub-nav-link:hover i {
  color: var(--active-icon-color); 
}

/* BOTTOM  łIST*/ 
.bottom-list {
  width: 100%; 
  background-color: var(--primary-color);
  /* place it at the bottom */ 
  position: absolute; 
  bottom: 0; 

  padding: .5rem 0; 
  display: flex; 
  justify-content: space-around;

  transform: translateX(-1rem); /* correcting sidebar padding */ 
}

.bottom-list-link {
  position: relative; 
  /* border: 1px solid blue;  */
}

  .bottom-list-link i {
    font-size: 1.6rem; 
    color: var(--secondary-color); 
    transition: color .3s; 
  }

  .bottom-list-link i:hover {
    color: var(--active-icon-color); 
  }

  .bottom-list-link span {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 600;  
    font-size: 1rem; 
    color: white; 
    width: 1.4rem; 
    height: 1.4rem; 
    background-color: red;
    border-radius: 50%; 

    display: flex; 
    justify-content: center;
    align-items: center;

    position: absolute; 
    top: -100%; 
    right: -50%; 
  }

/* MAIN */ 
.main-section {
  width: 85vw; 
  position: relative; 
  left: 15vw;  
}

.header {
  width: inherit; 
  height: 100vh; 
  background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.5)), url(images/bg.png) center no-repeat;
  background-size: cover;
  border: 1px solid red; 
}

.heading {
 position: absolute; 
 top: 5%; 
 left: 50%; 
 transform: translateX(-50%);

 font-size: 12rem; 
 color: #ccc; 
 letter-spacing: 1rem;
}